<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
    <!-- <div class="mb-3">
        <input type="text" [class.is-invalid]="registerForm.get('username')?.errors && registerForm.get('username')?.touched" class="form-control" formControlName="username" placeholder="Username" />
        <div class="invalid-feedback">Please enter a username</div>
    </div>
    <div class="mb-3">
        <input type="password" [class.is-invalid]="registerForm.get('password')?.errors && registerForm.get('password')?.touched" class="form-control" formControlName="password" placeholder="Password" />
        <div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('required')">Please enter a password</div>
        <div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('minlength')">Password must be at least 4 characters</div>
        <div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('maxlength')">Password cannot exceed 8 characters</div>
    </div>
    <div class="mb-3">
        <input type="password" [class.is-invalid]="registerForm.get('confirmPassword')?.errors && registerForm.get('confirmPassword')?.touched" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password" />
        <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword')?.hasError('required')">Please enter a password</div>
        <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword')?.hasError('notMatching')">Password does not match</div>
    </div> -->

    <div class="mb-3">
        <label class="margin-right:10px">I am a: </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input ms-3" value="male" formControlName="gender"> Male
        </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input ms-3" value="female" formControlName="gender"> Female
        </label>
    </div>


    <app-text-input [formControl]="$any(registerForm.controls['knownAs'])" [label]="'Known As'"></app-text-input>

    <app-date-picker [formControl]="$any(registerForm.controls['dateOfBirth'])" [label]="'Date Of Birth'" [maxDate]="maxDate"></app-date-picker>

    <app-text-input [formControl]="$any(registerForm.controls['city'])" [label]="'City'"></app-text-input>

    <app-text-input [formControl]="$any(registerForm.controls['country'])" [label]="'Country'"></app-text-input>

    <app-text-input [formControl]="$any(registerForm.controls['username'])" [label]="'Username'"></app-text-input>

    <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Password'" [type]="'password'"> </app-text-input>

    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'Confirm Password'" [type]="'password'"></app-text-input>


    <div class="row" *ngIf="validationErrors">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="text-center">
        <button [disabled]="!registerForm.valid" class="btn btn-success me-2" type="submit">Register</button>
        <button (click)="cancel()" class="btn btn-default" type="button">Cencel</button>
    </div>
</form>

<p>Form value: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status| json}}</p>